<p id="notice"><%= notice %></p>

<p>
  <strong>Asama adi:</strong>
  <%= @asama_tanim.asama_adi %>
</p>

<%= link_to 'Edit', edit_asama_tanim_path(@asama_tanim) %> |
<%= link_to 'Back', asama_tanims_path %>
